<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="cnnApl" connectionString="Data Source=10.255.229.43\INTERFACES;Initial Catalog=RegistroFacturasSAPPRD;Persist Security Info=True;User ID=regfacturas;Password=r3gf4ctur4s" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CorreoAplicacion" value="mesacontrol1@dipcmi.com.gt"/>
    <add key="CorreoNombre" value="Registro facturas WEB"/>
    <add key="stmp" value="um.dipcmi.com"/>
    <add key="AsuntoCorreo" value="Recordatorio de aprobaciones de facturas"/>
    <add key="LinkAprobacion" value="http://sap_apps_prod:4000/Aprobadores/AprobacionFacturas.aspx"/>
    <add key="CuentaNombre" value="mesacontrol"/>
    <add key="CuentaPassword" value="CtrlMe07"/>
    <!--<add key="" value=""/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
