<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration,&#xA;sapnco" />
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="IV" value="A02DA6ABE3C778E7207FC0097D24EE27" />
    <add key="CCGenerica" value="610" />
    <add key="RetencionIVA" value="15" />
    <add key="IVANormal" value="12" />
    <add key="TIPO_CUENTA" value="610" />
    <!--<add key="MyReportViewerUser" value="sqlreportes" />
    <add key="MyReportViewerPassword" value="Sies@Brow$er" />
    <add key="MyReportViewerDomain" value="UNIDAD" />-->
    <add key="MyReportViewerUser" value="wdavila" />
    <add key="MyReportViewerPassword" value="P@ssw0rd25" />
    <add key="MyReportViewerDomain" value="UNIDAD" />
    <add key="MyReportServerURL" value="http://10.96.0.118:3030/ReportServer"/> <!--http://ALTRGTSRV0014.unidad.local/ReportServer_INTERFACES" />-->
    <!--10.10.4.22  /  SAP_INTERFACES_DESA-->
    <add key="AccessPassword" value="Rp2011mt" />
    <add key="Dominio" value="@GT.DIPCMI.CORP" />
    <add key="ConfigPath" value="/web.config" />
  </appSettings>
  <connectionStrings>
    <!--.................................................DESARROLLO / 10.10.4.87.................................................-->
    <!--<add name="CnnApl" connectionString="Data Source=10.255.229.44\INTERFACES_QA;Initial Catalog=RegistroFacturasSAP;Persist Security Info=True;User ID=regfacturas;Password=r3gf4ctur4s" providerName="System.Data.SqlClient" />
    <add name="CnnInterfaces" connectionString="Data Source=10.255.229.44\INTERFACES_QA;Initial Catalog=calidad;Persist Security Info=True;User ID=interfaces;Password=Int3rfaces" providerName="System.Data.SqlClient" />-->
    <!--<add name="CnnInterfacesMM" connectionString="Data Source=10.20.0.76;Initial Catalog=RegistroFacturasSAP_QA;Persist Security Info=True;User ID=webaccess;Password=s@r@db752007" providerName="System.Data.SqlClient" />-->
    <add name="CnnInterfacesMM" connectionString="Data Source=10.20.0.76;Initial Catalog=RegistroFacturasSAP;Persist Security Info=True;User ID=webaccess;Password=s@r@db752007" providerName="System.Data.SqlClient" />
    <!--<add name="CnnIneldatCR" connectionString="Data Source=10.100.189.20;Initial Catalog=MFE_IPCR;Persist Security Info=True;User ID=P3W_WEb;Password=P3WCR*2015" providerName="System.Data.SqlClient" />-->
    <!--.................................................PRODUCCION / 10.10.4.22.................................................-->
    <add name="CnnApl" connectionString="Data Source=sap_interfaces_prod\interfaces;Initial Catalog=RegistroFacturasSAPPRD;Persist Security Info=True;User ID=regfacturas;Password=r3gf4ctur4s" providerName="System.Data.SqlClient" />
    <add name="CnnInterfaces" connectionString="Data Source=sap_interfaces_prod\interfaces,63790;Initial Catalog=produccion;Persist Security Info=True;User ID=interfaces;Password=Int3rfaces" providerName="System.Data.SqlClient" />

    <!--<add name="ADConnString" connectionString="LDAP://gt.dipcmi.corp/DC=gt,DC=dipcmi,DC=corp" providerName="" />-->
    <add name="ADConnString" connectionString="LDAP://unidad.local/DC=unidad,DC=local" providerName="" />
    <add name="ADConnStringGT" connectionString="LDAP://gt.dipcmi.corp/DC=gt,DC=dipcmi,DC=corp" providerName="" />
    <!--<add name="ADConnString" connectionString="LDAP://cmi.local/DC=cmi,DC=local" providerName="" />-->
    <add name="ADConnStringCR" connectionString="LDAP://cr.dipcmi.corp/DC=cr,DC=dipcmi,DC=corp" providerName="" />
    <add name="ADConnStringHN" connectionString="LDAP://hn.dipcmi.corp/DC=hn,DC=dipcmi,DC=corp" providerName="" />
    <add name="ADConnStringSV" connectionString="LDAP://sv.dipcmi.corp/DC=sv,DC=dipcmi,DC=corp" providerName="" />
    <add name="ADConnStringCSI" connectionString="LDAP://172.18.1.243/DC=cmi,DC=local" providerName="" />
    <add name="ADConnStringMM" connectionString="LDAP://srvdcsec.division.local:389/DC=division,DC=local" providerName="" />
    <add name="ADConnStringCMI" connectionString="LDAP://10.0.61.2/DC=cmicorp,DC=local" providerName="" />
    
    <!--GTCSIDC001.cmi.local:389-->
  </connectionStrings>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--Desarrollo IP-->
          <!--<add NAME="IP" USER="dipsoporte" PASSWD="soporte@hn1" CLIENT="250" LANG="ES" ASHOST="10.255.229.102" SYSNR="00" MAX_POOL_SIZE="10" POOL_SIZE="10" IDLE_TIMEOUT="10"/>-->
          <!--Calidad IP-->
          <!--<add NAME="IP" USER="interfaz" PASSWD="interfaz400$" CLIENT="400" LANG="ES" ASHOST="10.255.229.103" SYSNR="00" MAX_POOL_SIZE="10" POOL_SIZE="10" IDLE_TIMEOUT="500"/>-->
          <!--Produccion IP -->
          <!--<add NAME="IP" USER="interfaz" PASSWD="interfaz400$" CLIENT="400" LANG="ES" ASHOST="10.255.229.12" SYSNR="04" MAX_POOL_SIZE="75" POOL_SIZE="50" IDLE_TIMEOUT="1000"/>-->
          <add NAME="IP" USER="interfaz" PASSWD="interfaz400$" CLIENT="400" LANG="ES" MSHOST="saperpci" GROUP="SAPP01" SYSID="P01" SYSNR="00" MAX_POOL_SIZE="10" POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
          <!--Calidad MM-->
          <!--
          <add NAME="MM" USER="INTERFAZMM" PASSWD="molino$13," CLIENT="401" LANG="ES" ASHOST="10.10.100.148" SYSNR="00" MAX_POOL_SIZE="75" POOL_SIZE="50" IDLE_TIMEOUT="1000"/>-->
          <!--Produccion MM-->
          <add NAME="MM" USER="INTERFAZMM" PASSWD="molino$13," CLIENT="401" LANG="ES" MSHOST="mmerpci.unidad.local" GROUP="MLM_ERP_PRODUCCION" SYSID="P03" SYSNR="00" MAX_POOL_SIZE="10" POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
          <!--<add NAME="MM" USER="INTERFAZMM" PASSWD="molino$13," CLIENT="401" LANG="ES" ASHOST="10.10.100.18" SYSNR="00" MAX_POOL_SIZE="75" POOL_SIZE="50" IDLE_TIMEOUT="1000"/>-->
          <!--Calidad CSI-->
          <add NAME="CSI" USER="INTERFAZ" PASSWD="IntCaja$01Chica" CLIENT="406" LANG="ES" ASHOST="10.255.229.53" SYSNR="00" MAX_POOL_SIZE="75" POOL_SIZE="50" IDLE_TIMEOUT="1000" />


        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add NAME="NCO_SERVER" GWHOST="ldcibke" GWSERV="sapgw36" PROGRAM_ID="nRfcTestServer" REPOSITORY_DESTINATION="NCO_TESTS" REG_COUNT="1" />
        </servers>
      </ServerConfiguration>
    </ServerSettings>
  </SAP.Middleware.Connector>
  <system.web>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <siteMap defaultProvider="XmlSiteMapProvider">
      <providers>
        <add name="XmlSiteMapProvider" description="Proveedor XML de Mapa de Sitio." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="~/RegistroFacturasWEB.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <machineKey validationKey="DDCB84E7B4F8729D497DD7466285DDEBC390F05A62BA086D8DE9A1D85352148404B5D83874C7FF0030DDEDD27EEFA2C4028C0E2E4EBDFD1DB77DB26D9E53204A" decryptionKey="F438BBD6C40D000226DE6A1CC772EF4D5CBDCD7D16EC6BB5ECB0A24F3AAC70D9" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".DIPCMIFORMSAUTH" protection="All" requireSSL="false" timeout="60" slidingExpiration="true" enableCrossAppRedirects="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership>
      <!--<membership defaultProvider="LDAP">-->
      <providers>
        <add name="LDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnString" connectionUsername="GT.DIPCMI.CORP\webadmin" connectionPassword="$isWeb@dm" />
        <add name="GTLDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnStringGT" connectionUsername="GT.DIPCMI.CORP\webadmin" connectionPassword="$isWeb@dm" />
        <add name="SVLDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnStringSV" connectionUsername="SVDIPCMI\sqlreportes" connectionPassword="Super2019" />
        <add name="HNLDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnStringHN" connectionUsername="HNDIPCMI\sqlreportes" connectionPassword="soporte.11" />
        <add name="CRLDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnStringCR" connectionUsername="CRDIPCMI\sqlreportes" connectionPassword="Sqlrep2011" />
        <add name="CSILDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnStringCSI" connectionUsername="CMI.CO\csi.cajachica" connectionPassword="a@B7TdiArn" />
        <add name="MMLDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnStringMM" connectionUsername="DIVISION.LOCAL\WebAdmin" connectionPassword="Temporal#2016." />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages styleSheetTheme="Tema">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </controls>
    </pages>
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Reportes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Seguridad">
    <system.web>
      <authorization>
        <allow roles="SEGURIDAD" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SuperUsuario">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  
  <location path="Mantenimientos">
    <system.web>
      <authorization>
        <allow roles="MANTENIMIENTO" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistroFacturas">
    <system.web>
      <authorization>
        <allow roles="REGISTRADORES" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RevisionFacturas">
    <system.web>
      <authorization>
        <allow roles="REVISORES" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Aprobadores">
    <system.web>
      <authorization>
        <allow roles="APROBADORES" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <!--.................................................Por error en ejecucion de Reportes en QA.................................................-->
      <!--.....................................Se comenta la primer linea y se deja esta unicamente ................................................-->
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <!--.................................................Por error en ejecucion de Reportes en QA.................................................-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>